@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <div class="wrapper">
        <script>
            var place_preferences = '@ViewBag.PlacePreferences';
        </script>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Create Trip</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Version 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="ion ion-android-call"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Emergency telephone numbers</span>
                                <span class="info-box-number">@ViewBag.PhoneNumbers</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="ion ion-android-bulb"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Information</span>
                                <span class="info-box-number">@ViewBag.FunFact1</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <!-- fix for small devices only -->
                    <!-- <div class="clearfix visible-sm-block"></div> -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="ion ion-android-bulb"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Information</span>
                                <span class="info-box-number">@ViewBag.FunFact2</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="ion ion-social-usd-outline"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Currency</span>
                                <span class="info-box-number">The national currency is @ViewBag.Currency!</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- Main row -->
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-4">
                        <!-- /.box -->
                        <!-- PRODUCT LIST -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Agenda</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item active"><h4>16/04/2018</h4></li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item active"><h4>17/04/2018</h4></li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item active"><h4>17/04/2018</h4></li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item active"><h4>17/04/2018</h4></li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="box-header">
                                        <h3 class="box-title">Latest Members</h3>
                                        <div class="box-tools pull-right">
                                            <span class="label label-info">2 hours</span>
                                            <button type="button" class="btn btn-box-tool">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                    <!-- Left col -->
                    <div class="col-md-8">
                        <!-- MAP & BOX PANE -->
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Travel map</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">

                                <input id="pac-input" class="controls" type="text"
                                       placeholder="Enter a location">
                                <div id="map" style="width:100%;height:500px;"></div>
                                <div id="infowindow-content">
                                    <span id="place-name" class="title"></span><br />
                                    <span id="place-address"></span><br /><br/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-flat" id="visit" type="button" onclick="visit_click">Visit</button>
                                    </span>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Info Boxes Style 2 -->
                                <div class="info-box bg-red">
                                    <span class="info-box-icon"><i class="ion ion-thumbsup"></i></span>
                                    <div class="info-box-content">
                                        <span id="category0" class="info-box-text">Restaurant</span>
                                        <span id="place0" class="info-box-number">Belvedere</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                        <span id="rating0" class="progress-description">
                                            Rating: -
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                                <div class="info-box bg-yellow">
                                    <span class="info-box-icon"><i class="ion ion-thumbsup"></i></span>
                                    <div class="info-box-content">
                                        <span id="category1" class="info-box-text">Restaurant</span>
                                        <span id="place1" class="info-box-number">Belvedere</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                        <span id="rating1" class="progress-description">
                                            Rating: -
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                                <div class="info-box bg-green">
                                    <span class="info-box-icon"><i class="ion ion-thumbsup"></i></span>
                                    <div class="info-box-content">
                                        <span id="category2" class="info-box-text">Restaurant</span>
                                        <span id="place2"class="info-box-number">Belvedere</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                        <span id="rating2" class="progress-description">
                                            Rating: -
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                                <div class="info-box bg-aqua">
                                    <span class="info-box-icon"><i class="ion-thumbsup"></i></span>
                                    <div class="info-box-content">
                                        <span id="category3" class="info-box-text">Restaurant</span>
                                        <span id="place3" class="info-box-number">Belvedere</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                        <span id="rating3" class="progress-description">
                                            Rating: -
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>

                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <!-- DIRECT CHAT -->
                                <div class="box box-warning direct-chat direct-chat-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Trip weather</h3>
                                    </div>
                                    <div class="box-body">
                                        <a class="weatherwidget-io" id="weather-widget" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="7" data-theme="pure">WEATHER</a>
                                        <script id="weather_script">
                                            // getForecast(document, 'script', 'weatherwidget-io-js');
                                            !function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];

                                                var location = getForecastUrl(placeID);
                                                var wid = d.getElementById('weather-widget');
                                                wid.setAttribute("data-label_1", location.split("/")[1].toUpperCase());
                                                wid.href = "https://forecast7.com/en/" + location + "/";
                                                if (!d.getElementById(id)) {
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }
                                            }(document, 'script', 'weatherwidget-io-js');
                                        </script>
                                    </div>
                                </div>

                                <div class="box box-warning direct-chat direct-chat-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Currency converter</h3>
                                    </div>

                                    <div class="box-footer">
                                        <form action="#" method="post">
                                            <div class="input-group">
                                                <input type="text" id="from1" placeholder="From @ViewBag.MyCurrency ..." class="form-control">
                                                <span class="input-group-btn">
                                                    <button type="button" id="convert1" class="btn btn-warning btn-flat">==></button>
                                                </span>
                                                <input type="text" id="to1" placeholder="To @ViewBag.Currency ..." class="form-control">
                                            </div>
                                        </form>
                                    </div>

                                    <div class="box-footer">
                                        <form action="#" method="post">
                                            <div class="input-group">
                                                <input type="text" id="from2" placeholder="From @ViewBag.Currency ..." class="form-control">
                                                <span class="input-group-btn">
                                                    <button type="button" id="convert2" class="btn btn-warning btn-flat">==></button>
                                                </span>
                                                <input type="text" id="to2" placeholder="To @ViewBag.MyCurrency ..." class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                    <script>
                                        document.getElementById("convert1").onclick = function() {convert1()};
                                        document.getElementById("convert2").onclick = function() {convert2()};
                                        function convert1() {
                                            var x = document.getElementById("from1").value;
                                            document.getElementById("to1").value = x / @ViewBag.CurrencyValue;
                                        }
                                        function convert2() {
                                            var x = document.getElementById("from2").value;
                                            document.getElementById("to2").value = x * @ViewBag.CurrencyValue;
                                        }
                                    </script>
                                </div>

                                <!--/.direct-chat -->
                            </div>
                            <!-- /.col -->
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2018 Olteanclan team.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

</body>